body {
    background-color: #0db8d3;
    font-family: 'Montserrat', sans-serif;
}


/*  Buttons */
.styledButtons {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #68c88d;
    color: white;
    text-align: center;
    transition: all 0.15s;
}

.styledButtons:hover {
    color: #93d8ae;
    border-color: #DDDDDD;
}

.styledButton:active {
    color: #225d39;
    border-color: #BBBBBB;
}

.logInField {
    font-size: 120%;
}


.loggedInDiv {
    width: 100%;
    margin: auto;
    margin-top: 150px;
    justify-self: center;
    display: none;
    flex-direction: column;
}


#loginButtons {
    width: 100%;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;

}


#logo {
    height: 100px;
    width: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
}


h1 {
    text-align: center;
}


.logInContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
}


#wholeEventForm {
    display: none;
    width: 50vw;
    margin: auto
}


#eventForm {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}


.mainDiv input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    text-align: center;
}


.eventClass {
    display: flex;
    justify-content: space-between;
    margin: 1vh;
}


.eventInputs {
    width: 11.675vw;
}

#wholeFacilityForm {
    display: none;
    width: 50vw;
    margin: auto;
}


#facilitiesForm {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}


.facilityClass {
    display: flex;
    justify-content: space-between;
    margin: 1vh;
}


.facilityInputs {
    width: 11.675vw;
}


#check-facilities {
    font-size: 4vh;

}


#facilityButtons {
    display: flex;
    justify-content: center;
    width: 100%;
}

#latLngButton {
    font-size: 80%;
    margin-left: 2vw;
}


/* At a desktop size */
@media screen and (min-width: 700px) {}

/* At a phone size */
@media screen and (max-width: 750px) {

    #loginDiv {
        margin-top: 20vh;
    }

    #loginButtons {
        display: flex;
        flex-direction: column;
    }

    #wholeEventForm {
        width: 95%;
    }

    #wholeFacilityForm {
        width: 95%
    }
}
