.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
 
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* CSS reset */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/*  Buttons */
.styledButtons {
  display: inline-block;
  height: 45px;
  width: 150px;
  border: 0.16em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #68c88d;
  color: white;
  text-align: center;
  transition: all 0.15s;
}

.styledButtons:hover {
  color: #DDDDDD;
  border-color: #DDDDDD;
}

.styledButton:active {
  color: #BBBBBB;
  border-color: #BBBBBB;
}

/* Donate span */
#span {
  background-color: #68c88d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5%;
  font-size: 125%;
  
  /* text-shadow: 1px 1px rgb(224, 224, 224); */
}




#donate a {
  color: white;
  background-color: #68c88d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8%;
  font-size: 125%;
}

a {
  text-decoration: none;
}

/* Banner and Nav Bar */
#navBar {
  display: flex;
  flex-direction: row-reverse;
}

#topBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0db8d3;
  height: 11%;
  width: 100%;

}

#title {
  font-size: 8vw;
  text-align: center;
  color: black;
}

/* Might use this later for a donate button. Thinking to put the donate in the dropdown*/

.donateButton {
  background-color: #EA4335;
  border: 1px solid gray;
  margin-top: 30%;
  margin-left: 50%;
}

#adminLogIn {
  background-color: #0db8d3;
  text-align: end;
  text-decoration: none;
  width: 100%;
  padding-top: 3%;
}

#adminLogInText {
  color: white;
  padding-right: 5vw;
}

#welcomeMessageBackground {
  padding-top: 5%;
  background-color: #0db8d3;
  width: 100%;
}

#welcomeMessage {
  width: 95%;
  margin: auto;
  font-size: 90%;
  background-color: #0db8d3;
  padding-bottom: 3%;
}

/* Nav Bar Main Logo */
#headerLogo {
  height: 75px;
  width: 75px;
  display: flex;
  margin-left: 3vw;
  border-radius: 50%;
}

/* Main section */
main {
  height: 60%;
  width: 100%;
  padding-top: 20px;
}

/* Search Bar Styling */
#searchBarBackground {
  background-color: lightgray;
}

#searchBar {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#searchTitle {
  padding-right: 5%;
}

#searchButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#eventsModal {
  display: none;
  background-color: #d8d9d8;
  height: 125vh;
  min-width: 100vw;
  z-index: 1000;
  position: absolute;
  padding-top: 1vh;
}

.center {
  display: flex;
  justify-content: center;
}

.eventModalLabels {
  display: flex;
  justify-content: space-between;
  margin: 1vh;
}

.eventModalInputs {
  width: 11.675vw;
}

#facilitiesModal {
  display: none;
  background-color: #d8d9d8;
  height: 100vh;
  min-width: 100vw;
  z-index: 1000;
  position: absolute;
  padding-top: 1vh;
}

.facilityModalLabels {
  display: flex;
  justify-content: space-between;
  margin: 1vh;
}

.facilityModalInputs {
  width: 11.675vw;
}

#iconsModal {
  display: none;
  background-color: #d8d9d8;
  height: 125vh;
  min-width: 100vw;
  z-index: 1000;
  position: absolute;
  padding-top: 1vh;
}

/* Sets the map explicitely */
#map {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 80%;
  width: 80%;
  border: 1px solid black;
  background-color: white;
}

/* Sets up individual event styling */
.singleEventContainer {
  /* This container is used to style all the individual event list items that are created by the 'for in loop' on dislayEvents.js */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 3px solid #0054a6;
  margin: 0;
  padding-bottom: 2%;
}

#eventsName {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#d8d9d8;
  font-size: 125%;
  width: 100vw;
  height: 6vh;
  margin-top: 0;
}

#eventDesc {
  padding-top: 2%;
}

.eventClass {
  margin-left: 05vw;
  margin-right: 05vw;
}

.eventTitle {
  display: flex;
  justify-content: center;
  background-color: #d8d9d8;
  width: 100%;
  padding: 5%;
  margin-top: 0;
}

.eventsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#eventHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 140%;
  margin-top: 6%;
}


/* Mission Statement Styling Here */
#missStatement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2ac194;
  border-top: 2px solid #0054a6;
  border-bottom: 4px solid #0054a6;

}

#missStatement h5 {
  margin-left: 5vw;
  margin-right: 5vw;

}

#missTitle {
  margin-bottom: -2%;
  font-size: 150%;
}

/* Styling for Footer Section Here */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0db8d3;
  height: 50%;
  width: 100%;
}

#footerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footerLogo {
  display: flex;
  justify-content: center;
  height: 125px;
  width: 125px;
  border-radius: 50%;
}

#contactInfo {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  font-size: 90%;
}

.footerLinks {
  text-decoration: none;
  color: black;
}

/* Styling for To Top Button */
#toTop {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #2ac194;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 12px;
  /* Increase font size */
  border:2px solid white;
  /* Border Color */
}

#toTop:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

/* At a desktop size */
@media screen and (min-width: 800px) {

  #missTitle {
    margin-bottom: 1vh;

  }

  #title {
    font-size: 5vw;
  }

  #headerLogo {
    height: 20vh;
    width: auto;
  }

  #welcomeMessage {
    display: flex;
    justify-content: center;
  }

  /* ----------------------- */
  #eventsModal {
    display: none;
    background-color: #d8d9d8;
    height: 115vh;
    min-width: 0;
    width: 50vw;
    left: 50vw;
    top: 43vh;
    z-index: 1000;
    position: absolute;
    padding-top: 1vh;
  }

  .eventModalLabels {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin: 1vh;
  }

  #facilitiesModal {
    display: none;
    background-color: #d8d9d8;
    height: 85vh;
    min-width: 0;
    width: 50vw;
    left: 50vw;
    top: 43vh;
    z-index: 1000;
    position: absolute;
    padding-top: 1vh;
  }

  .facilityModalLabels {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin: 1vh;
  }

  #iconsModal {
    display: none;
    background-color: #d8d9d8;
    height: 100%;
    min-width: 0;
    width: 50vw;
    left: 50vw;
    top: 35vh;
    z-index: 1000;
    position: absolute;
    padding-top: 1vh;
  }
}

/* At a phone size */
@media screen and (max-width: 800px) {

  #searchButtons {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 1%;
  }

    #searchTitle {
      padding-left: 12%;
      font-size: 125%;
    }

    #searchButtons {
      padding-right: 2%;
    }
    #eventsModal {
      height:150%
    }
    #facilitiesModal {
      height:120%
    }

}
