/* CSS reset */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Donate span */
#span {
  background-color: #f37521;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 120%;
  color: #2ac194;
  text-shadow: 1px 1px black;
}

a {
  text-decoration: none;
  color: #0054a6;
}

/* Banner and Nav Bar */

#topBanner {
  display: flex;
  justify-content: space-between;
  background-color: #0db8d3;
  height: 18%;
  width: 100%;
}

/* Might use this later for a donate button. Thinking to put the donate in the dropdown*/

.donateButton {
  background-color: #2ac194;
  border: 1px solid gray;
  margin-top: 30%;
  margin-left: 50%;

  /*height: 50px;
  width: 100px;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 35%;
  padding: 5px 15px;
  */
}

#adminLogIn {
  background-color: #0db8d3;
  text-align: end;
  text-decoration: none;
  color: white;
}

.adminLogIn {
  color: white;
}

/* Nav Bar Main Logo */
#logo {
  height: 75px;
  width: 75px;
  display: flex;
  margin-top: 25%;
  margin-bottom: 10%;
  margin-left: 20%;
  border-radius: 50%;
}

/* Hamburger Menu 
.menuButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
} */

/* Adds middle burger line  
.burgerMenuButton {
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  float: right;
} */

/* Creates the other hamburger menu lines 
.burgerMenuButton::before,
.burgerMenuButton::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
} */

/* .burgerMenuButton::before {
  transform: translateY(-16px);
}
.burgerMenuButton::after {
  transform: translateY(16px);
} */



/* Main section */
main {
  height: 60%;
  width: 100%;
  padding-top: 20px;
}
/* Sets the map explicitely */
#map {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 80%;
  width: 80%;
  border: 1px solid gray;
  background-color: white;
}

/* Sets up individual event styling */

.singleEventContainer {
  /* This container is used to style all the individual event list items that are created by the 'for in loop' on dislayEvents.js */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #0054a6;
  border-bottom: 2px solid #0054a6;
  padding-right:12vw;
  margin: 0;
}

.eventName {
  display: flex;
  justify-content: center;
  background-color:/*#f37521 */#d8d9d8; 
  font-size: 150%;
  width: 100vw;
  padding: 5%;
  margin-top: 0;
}

.eventTitle {
  display: flex;
  justify-content: center;
  background-color:/*#f37521 */#d8d9d8; 
  width: 100%;
  padding: 5%;
  margin-top: 0;
}

.eventsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#eventHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 140%;
  margin-top: 6%;
}

.singleEvent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #0054a6;
  border-bottom: 1px solid #0054a6;
}

.eventDesc {
  padding-left: 5%;
}

/* Mission Statement Styling Here */
#missStatement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2ac194;
}

#missTitle {
  margin-bottom: -5%;
}

#whiteSpace {
  height: 10px;
}

/* Styling for Footer Section Here */
#footer {
  display: flex;
  justify-content: space-between;
  background-color: #0db8d3;
  height: 50%;
  width: 100%;
}

#footerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footerLogo {
  display: flex;
  justify-content: center;
}

#contactInfo {
  display: flex;
  justify-content: center;
  margin-left: 27%;
  font-size: 90%;
}
